<div class="movie_card" id="bright" *ngIf='movieInfo !== undefined'>
  <div class="close-icon" (click)="onCloseClick()"></div>
  <div class="info_section">
    <div class="movie_header">
      <h1 class="title" (click)="onTitleClick()">{{movieInfo.title}}</h1>
      <h1 class="metascore">{{movieInfo.metascore}}</h1>
      <h4>{{movieInfo.director}}</h4>
      <span class="year">{{movieInfo.year}}</span>
      <p class="genres">{{movieInfo.genres}}</p>
    </div>
    <div class="actors">
      <div class="actor" *ngFor="let actor of actorsList" (click)="onActorClick(actor)">
          {{actor.name}}
      </div>
    </div>
  </div>
  <div class="back-image" [ngStyle]="{'background-image': 'url(' + movieInfo.posterUrl + ')'}"></div>
</div>
