.window-container {
    background-color: #001526;
    position: absolute;
    height: 100%;
    width: 100%;
    font-family: Arial;
    font-size: 14px;
    margin: -8px;
  }

  .login-container {
    position: absolute;
    box-sizing: border-box;
    width: 326px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #142737;
    border: 2px solid #2A5670;
    border-radius: 2px 2px;
    color: #FFFFFF;
  }

  .title-txt {
    padding: 15px 12px;
    font-size: 16px;
    line-height: 15px;
  }

  .credentials {
    display: block;
    height: 56px;
    width: 200px;
    padding: 4px 0;
  }

  .cred-input {
    height: 24px;
    width: 289px;
    background: #384550;
    border: 1px solid rgba(255,255,255,0.06);
    border-radius: 2px 2px;
    margin-left: 12px;
    color: #FFFFFF;
    padding: 4px 0px 3px 6px;
  }

  .input-label-txt {
    display: block;
    margin-left: 12px;
    font-size: 12px;
    padding: 4px 0;
  }

  .error-text {
    margin-left: 14px;
    max-width: 280px;
    font-size: 11px;
    font-weight: bold;
    color: #EC1C24;
    opacity: 0.85;
    line-height: 14px;
  }

  .login-button {
    color: #FFFFFF;
    text-align: center;
    width: 64px;
    height: 32px;
    background: #0C547A;
    border: 1px solid rgba(255,255,255,0.06);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.50);
    border-radius: 2px 2px;
    margin: 10px 14px 12px 0px;
    float: right;
  }
