<div class="window-container">
  <div class="login-container" (keypress)="onKeyPress($event)">
    <header class="title-txt">Login window</header>

    <div class="credentials">
      <label class="input-label-txt" for="email">Email</label>
      <input class="cred-input" type="text" placeholder="Email" [(ngModel)]="email">
    </div>
    <div class="credentials">
      <label class="input-label-txt" for="password">Password</label>
      <input class="cred-input" type="text" placeholder="Password" [(ngModel)]="password">
    </div>
    <div class="error-text">{{errorText}}</div>
    <div class="button-container">
        <button class="login-button" title="Log In" (click)="onLogin()">Log In</button>
      </div>
  </div>
</div>
