<div class="filter-box-container">
  <p class="sort-header">Sort By:</p>
  <div class="sort-by">
    <form>
      <div class="radio-group">
        <input type="radio" class="inp-title" id="option-one" [checked]="filterBy === 'title'" (click)="onTitle()">
        <label for="option-one">Title</label>
        <input type="radio" id="option-two" [checked]="filterBy === 'year'" (click)="onYear()">
        <label for="option-two">Year</label>
        <input type="radio" id="option-three" [checked]="filterBy === 'metascore'" (click)="onMetascore()">
        <label for="option-three">Metascore</label>
      </div>
    </form>
  </div>
  <div class="sorting-order">
    <form>
      <div class="radio-group">
        <input type="radio" id="option-one-order" [checked]="filterOrder === '1'" (click)="onAscending()">
        <label for="option-one-order">Ascending</label>
        <input type="radio" id="option-two-order" [checked]="filterOrder === '-1'" (click)="onDescending()">
        <label for="option-two-order">Descending</label>
      </div>
    </form>
  </div>
</div>
