@import url('https://fonts.googleapis.com/css?family=Roboto');

.filter-box-container {
  font-family: 'Raleway', sans-serif;
}
.sort-header {
  float: left;
  padding: 15px;

}
.sort-by {
  float: left;
}

$bg: #10cfff;
$txtColor: #666666;
$fg: lighten($bg,20%);
$borderWidth: 3px;

input[type=radio] {
  position: absolute;
  visibility: hidden;
  display: none;
}

label {
  color: $txtColor;
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
  padding: 5px 20px;
}

input[type=radio]:checked + label{
  color: lighten($bg,60%);
  background: $fg;
}

label + input[type=radio] + label {
  border-left: solid $borderWidth $fg;
}

.radio-group {
  border: solid $borderWidth $fg;
  display: inline-block;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 26px;
  margin-left: 20px
}

